body {
  font: sans-serif;
  padding: 1em;
}

.message {
  height: 50px;
  background-color: rgb(162, 228, 20);
}


form.inline {
  display: inline;
}

.login-form {
  padding: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;

  
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}