<html>
  <body>
    <h3>Please not another Hello World!</h3>
    <p>Just as we did earlier from IRB, we take a string value (the contents of index.erb) and pass that in ERB.new. Then, we can use the #result method to get a 100% HTML string output for the response body. The difference this time is that we're getting that string value from a file, the view template.</p>
  </body>
</html>
    
