<ul>
  <% @files.each do |file| %>
      <li>
        <a href="/<%= file %>"><%= file %></a>
          <form class="inline" action="/<%= file %>/delete" method="post">
          <button>Delete</button>
          <a href="/<%= file %>/edit">Edit</a>
          </form>
      </li>
  <% end %>
</ul>


<p><a href="/new">Create Document</a></p>