<html>
  <title>CMS</title>
  <link rel="stylesheet" href="/stylesheet/styles.css"type="text/  css"></link>
  <body>
    <% if session[:message] %>
    <p class="message" id='message-style'><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>

  <body>
</html>