<div class="login-form">
  <form action="/users/login" method="post">
    <label for="username">Username 
      <input name="username" value=""></label>
    <label for="username">Password 
      <input type="password" name="password" value=""></label>
    <button type="submit" >Sign In</button>
  </form>
</div>
